#baner {

	color: white;
	text-align: center;
	height: 330px;

}

/* do ligi */

#glowny {
	color: white;
}

#lewy {
	background-color: whitesmoke;
	width: 30%;
	text-align: center;
	height: 150px;
}

#prawy {
	background-color: whitesmoke;
	width: 70%;
	height: 150px;
}

body {
	font-family: Verdana;
	background-color: seagreen;
}

h3 {
	text-align: center;
	letter-spacing: 6px;
	text-transform: capitalize;
}